.PopInput {
    position: relative;
    color: rgb(62, 104, 219);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.PopInput__Root:hover {
    cursor: pointer;
    text-decoration: underline;
}

.PopInput__Input {
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 1px 5px 14px 0px #eee;
    font-size: 14px;
    padding: 8px 16px;
    position: absolute;
}

.PopInput__Input:focus {
    outline: none;
}

.PopInput.bottom .PopInput__Input {
    top: 100%;
    left: 0;
}